.startPage {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.23fr 3.4fr 3.2fr;
  gap: 0px 0px;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
}

@media screen and (min-device-width: 320px) and(max-width: 767px) {
  .startPage {
    grid-template-columns: none;
  }
}

@media screen and (min-device-width: 768px) and(max-width: 1024px) {
  .startPage {
    display: flex;
  }
}

