.order {
  display: flex;
  flex-direction: row;
}

.wrapper > .sidebar {
  z-index: 1;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .wrapper > .sidebar {
    position: fixed;
  }
}

@media (min-width: 1439px) {
  .wrapper > .sidebar {
    position: fixed;
  }
}




