//Карта
.map {
  display: flex;
  flex-direction: column;
}

.map p {
  width: 100%;
  height: 100%;
  text-align: left;
  font-weight: 500;
  line-height: 16px;
  font-style: normal;
  margin-top: 48px;
  box-sizing: border-box;
}

.yandex-map {
  width: 100%;
}