.order-content {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  margin-left: 64px;
  overflow: hidden;
}

.order-content .main-header {
  display: flex;
  flex-direction: row;
  width: auto;
  padding-left: 64px;
  padding-right: 64px;
  justify-content: space-between;
}

.steps-menu {
  padding-left: 64px;
  height: 32px;
  display: flex;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;;
  box-sizing: border-box;
  align-items: center;
}

.steps-menu ul, li {
  left: 0;
  padding: 0;
  list-style: none;
}

.steps-menu ul {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.4px;
  font-style: normal;
  cursor: pointer;
}

li a {
  color: #999999;
}

.steps-menu ul li a {
  text-decoration: none;
}

.steps-menu ul li a:hover {
  color: #0EC261;
}

//Иконка - play (треугольник)
.icon-play-button {
  display: flex;
  margin: 4px 16px 4px 16px;
  fill: #999999;
}

// Меню настроек
.step-settings {
  height: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 63px 0 63px;
}

.info-order {
  position: static;
  flex-direction: column;
  width: 320px;
  border-left: 1px solid #EEEEEE;
  padding: 32px 0 0 32px;
  text-align: right;

}

.info-order p {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}

// Информация о заказе
.info-order-data {
  text-align: start;
  margin-left: 32px;
  margin-top: 32px;
}

.info-order-data p {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.address {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-align-items: flex-end;
  border-bottom: 1px dotted #999;
  margin-bottom: 32px;
  z-index: 0;
}

.address p {
  font-size: 14px;
  display: flex;
  font-weight: 300;
  line-height: 16px;
  align-items: flex-end;
  background-color: #fff;
  margin: 0 0 -4px;
}

.address-point p {
  width: 100px;
  font-size: 14px;
  background-color: #fff;
  align-items: flex-end;
  display: flex;
  font-weight: 300;
  line-height: 16px;
}

.address-name {
  display: flex;
  flex-direction: row;
  max-width: 141px;
  align-items: flex-end;
  text-align: end;
}

.model {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-align-items: flex-end;
  border-bottom: 1px dotted #999;
  margin-bottom: 32px;
  z-index: 0;
}

.model p {
  font-size: 14px;
  display: flex;
  font-weight: 300;
  line-height: 16px;
  align-items: flex-end;
  background-color: #fff;

  margin: 0 0 -4px;
}

.model-point p {
  width: 100px;
  font-size: 14px;
  background-color: #fff;
  align-items: flex-end;
  display: flex;
  font-weight: 300;
  line-height: 16px;
}

.model-name {
  display: flex;
  flex-direction: row;
  max-width: 141px;
  align-items: flex-end;
  text-align: end;
}

@media (max-width: 470px) {
  .steps-menu {
    padding: 0 10px;
    border: 1px solid #EEEEEE;

  }
  .info-order-data {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .order-content {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
  .order-content {
    margin-left: 0;
  }

  .order-content .main-header {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }
  .steps-menu {
    margin-top: 32px;
    height: 40px;
    padding: 0 32px;
    overflow: hidden;
    overflow-x: scroll;
    border-bottom: none;
  }

  ::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    width: 0px;
    height: 0px
  }

  ::-webkit-scrollbar-track {
    background-color: #ecedee
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #999999;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #0EC261;
  }

  ::-webkit-scrollbar {
    width: 100%;
    height: 5px;
  }

  .step-settings {
    font-size: 14px;
    flex-direction: column;
    padding: 0 32px 0 32px;
  }

  .search {


  }
  .info-order {
    margin-top: 32px;
    border: none;
    text-align: right;
    width: auto;
    padding: 0;
  }
  .select-town {
    margin: 0 auto;
    align-items: start !important;
    display: flex;
    flex-direction: column;
  }
  .select-town p {
    text-align: start;
    font-weight: 500;
  }
  .input-town {
    margin-left: 0px !important;
    padding-left: 0px !important;
  }

  .info-order-btn {
    width: 100%;
    margin-bottom: 32px;
  }

  .map p {
    font-weight: 500;
  }
}


@media (min-width: 768px) and (max-width: 1439px) {
  .order-content {
    overflow: hidden;
  }

  .order .sidebar {
    width: 64px;
  }
  .order-content .main-header {
    padding-left: 32px;
    padding-right: 32px;
    position: sticky;
  }
  .steps-menu {
    padding-left: 32px;
  }

  .step-settings {
    padding-left: 32px;
    padding-right: 32px;
    overflow: hidden;
  }


  .step-one {
    width: 50%;
  }

  .search {
    width: 100%;
    display: flex;
    margin-top: 32px;
    align-items: flex-start;
  }

  .info-order {
    padding-top: 32px;
    width: 40%;
  }
  .info-order-btn {
    width: 250px;
    margin-right: 32px;
    align-items: center;
  }

  .select-town {
    margin-right: 20px;
  }

  .map {
    width: 90%;
  }
}