.step-three {
  margin-top: 32px;
}

//Выбор даты
.date-select {
  margin-top: 32px;

}

.start-date {
  display: flex;
  margin-top: 16px;
}

.end-date {
  display: flex;
  margin-top: 13px;
}

//Выбор тарифа
.select-tariff {
  margin-top: 32px;
}

//Дополнительные услуги
.select-additional-services{
  margin-top: 32px;
}