.step-three {
  margin-top: 32px;
}

//Выбор даты
.date-select {
  margin-top: 32px;

}

.start-date {
  display: flex;
  margin-top: 16px;
  text-align: center;
  align-items: center;
}

.start-date span {
  width: 19px;
  margin-right: 8px;
  text-align: end;
}

.end-date {
  display: flex;
  text-align: center;
  align-items: center;
}

.end-date span {
  width: 19px;
  margin-right: 8px;
}

//Выбор тарифа
.select-tariff {
  margin-top: 32px;
}

.radio-btn-group {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
}

//Дополнительные услуги
.select-additional-services {
  margin-top: 32px;
}

@media (max-width: 400px) {
  .color-select .button-radio .form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}