.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main-footer span {
    font-size: 13px;
    line-height: 15px;
    font-style: normal;
    font-weight: normal;
    color: #EEEEEE;
}

.main-footer a {
    font-size: 13px;
    line-height: 15px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    color: #121212;
    cursor: pointer;
}

.main-footer a:hover {
    color: #0ec261;
}