.search {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 450px;
}

.select-town {
  display: flex;
  align-items: center;
  margin: 0;
}

.select-town p {
  text-align: right;
  font-weight: 500;
  line-height: 16px;
  font-style: normal;
  margin: 8px 0;
}

// стилизация input-placeholder
::-webkit-input-placeholder {
  color: #999999;
  font-weight: 300;
  line-height: 16px;
  font-style: normal;
}

// стилизация input-placeholder - при клике убирается содержимое
:focus::-webkit-input-placeholder {
  color: transparent
}

.input-town {
  width: 200px;
  height: 20px;
  border-style: none;
  outline: none;
  border-bottom: 1px solid #999;
  margin-left: 8px;
  padding-left: 8px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  width: 200px;
  height: 26px;
  border-style: none;
  outline: none;
  border-bottom: 1px solid #999;
  margin-left: 8px;
  padding-left: 8px;
  margin-bottom: 6px;
}
.ant-select-single .ant-select-selector .ant-select-selection-search{
  left: 6px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector:hover {
  border-bottom: 1px solid #999;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  box-shadow: none;
  border-color: #999;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 0;
}

.ant-select-selection-placeholder {
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  font-weight: 300;

}

.select-town {
  border-style: none;
  outline: none;
}

.ant-input-affix-wrapper, .input-town {
  height: 21px;
}

@media (max-width: 767px) {
  .search {
    margin-top: 0;
  }
}

@media (min-width: 1439px) and (max-width: 2048px) {
  .select-town {
    position: relative;
  }

  .select-town p {
    white-space: nowrap;
  }
}