.sidebar {
  width: 64px;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #111518;
 }

@media (max-width: 520px) {
  .sidebar {
    position: absolute;
    left: -64px;
  }

  .sidebar .languageSelector {
    display: none;
  }
}