.sidebar {
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  background-color: #151B1F;
}

.humburger-box {
  margin: 0 auto;
  cursor: pointer;
  align-self: start;
  padding-top: 30px;
}

.humburger-box svg {
  color: #999999;
}

.humburger-box svg:hover {
  color: #FFFFFF;
}

.language {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  border: 1px solid;
  border-color: #111518;
  border-radius: 50%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #0EC261;
  font-weight: bold;
  line-height: 15px;
  align-self: end;
  cursor: pointer;
}

.language:hover {
  border-color: #EEEEEE;
  color: #EEEEEE;
}

.language:active {
  border-color: #EEEEEE;
  color: #0EC261;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .sidebar {
    margin-top: -10px;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
  }

  .humburger-box svg {
    display: flex;
    margin: 0 auto;
    color: #151B1F;
  }

  .sidebar .language {
    display: none;
  }

  .humburger-box svg {
    margin: 0 auto;
    align-items: center;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .sidebar {
    width: 85px;
    height: 100vh;
  }
}




