.info-order-btn {
  width: 287px;
  height: 48px;
  border-radius: 8px;
  color: #EEEEEE;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 32px;
}

.info-order-btn p {
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
}
