@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('ttf');
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Light.ttf") format('ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Bold.ttf') format('ttf');
    font-weight: bold;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}

