.info-order-btn {
  width: 287px;
  height: 48px;
  border-radius: 8px;
  color: #EEEEEE;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 32px;
  align-items: center;
}

.btn-cancel .ant-btn, .info-order-btn:active {
  background: linear-gradient(90deg, #493013 2.61%, #7B0C3B 150%);
}

.btn-cancel .info-order-btn:hover {
  background: linear-gradient(90deg, #493013 2.61%, #2f0416 150%);
}

.info-order-btn p {
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .info-order-btn {
    margin-bottom: 10px;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .info-order-btn {
    align-items: center;
  }
}


