.slider {
  background-color: green;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, #000000 100%),  url("https://github.com/maxim-bagriantsev/Need-for-dreve/blob/V-01/src/assets/images/free-parking.png?raw=true");
}