@media (max-width: 1023px) {
  .slider {
    display: none;
  }
}

@media (max-width: 1439px) {
  .slider-content-item h2 {
    font-size: 32px;
    line-height: 37.5px;
  }

  .slider-content-item h3 {
    font-size: 22px;
    line-height: 22px;
  }

  .slider {
    width: 100%;
  }

  .btn-arrow {
    width: 32px;
  }
}


