.slider {
  display: flex;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  text-align: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, #000000 100%), url("https://github.com/maxim-bagriantsev/Need-for-dreve/blob/V-01/src/assets/images/free-parking.png?raw=true");
  padding: 32px 0px;
  align-items: center;
}

.slider-content {
  margin-left: 33px;
  margin-right: 33px;
  display: inline;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
}

.slider-content-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  text-align: left;
  line-height: 90%;
  margin-bottom: auto;
}

.slider-content h2 {
  font-weight: 500;
  font-size: 40px;
  font-style: normal;
  line-height: 47px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.slider-content h3 {
  width: 495px;
  font-weight: 300;
  font-size: 24px;
  font-style: normal;
  line-height: 21.6px;
  color: #EEEEEE;
  margin-bottom: 32px;
}

.slider-btn {
  width: 164px;
  height: 48px;
  background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
  background-blend-mode: darken;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  text-transform: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: none;
  outline: none;
}

.slider-btn:hover {
  background: linear-gradient(90deg, #0B934A 2.61%, #026E47 112.6%);
  background-blend-mode: darken;
  border-radius: 4px;
  outline: none;
}

.slider-btn:active {
  background: linear-gradient(90deg, #076432 2.61%, #013C27 112.6%);
  background-blend-mode: darken;
  border-radius: 4px;
}

.slider-btn:focus {
  outline: none;
}

.slider-btn span {
  text-transform: none;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.slider-btn-column {
  display: flex;
  cursor: pointer;
  width: 64px;
  height: 100vh;
  border-style: none;
  outline: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider-btn-column:hover {
  background: rgba(14, 194, 97, 0.2);
}

.slider-btn-column:focus {
  outline: none;
}

.slider-bnt-left {
  margin: 0 auto;
}

.slider-bnt-rigth {
  margin: 0 auto;
}

.slider-dots {
  width: 35%;
  position: fixed;
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
  bottom: 0;
  justify-content: center;
}

.item-dot {
  cursor: pointer;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #EEEEEE;
  margin-right: 4px;
  margin-left: 4px;
}

.item-dot-active {
  cursor: pointer;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #0EC261;
  margin-right: 4px;
  margin-left: 4px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .slider {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .slider {
    display: none;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .slider {
    width: 410px;
    padding: 0;
  }

  .slider-content {
    margin-left: 32px;
  }

  .slider-content-items {
    width: 282px;
  }

  .slider-content h2 {
    font-size: 32px;
    line-height: 37.5px;
  }

  .slider-content h3 {
    font-size: 22px;
    line-height: 22px;
  }

  .slider-btn-column {
    width: 32px;
  }

  .slider-dots {
    position: absolute;
  }
}

/*# sourceMappingURL=slider.css.map */
